* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(../img/pattern.png);
    background-color: lightskyblue;
    background-size: 25%;
}
#banner {
    padding: 20px 0;;
}